/* @import url(../fonts/font-definition.css); */

body {
    font-family: "iranYekan", sans-serif;
    font-size: 16px;
}



/* Personal Utilities */
.lh-p {
    line-height: 30px;
}

.lh-2 {
    line-height: 35px;
}

.underline {
    width: 9rem;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    margin: auto;
}

/* End Of Personal Utilities */

/* Personal Header Styles */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Personal Banner Styles */
.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@keyframes anim {
    0% {
        opacity: 0;
        transform: translateX(-120px);
        -webkit-transform: translateX(-120px);
        -moz-transform: translateX(-120px);
        -ms-transform: translateX(-120px);
        -o-transform: translateX(-120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

/* End Of Personal Banner Styles */


/* personal navbar styles */
.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    padding: 30px;
}

.menu-item {
    font-size: 1em;
    color: #eee;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.menu-item:hover {
    color: #70aed2;
}

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -moz-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    -o-transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -moz-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    -o-transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
    padding: 5px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

/* end of personal navbar styles */

/* End Of Personal Header Styles */

/* award Styles */
.awards {
    background-color: #151f20;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-120px);
        -webkit-transform: translateX(-120px);
        -moz-transform: translateX(-120px);
        -ms-transform: translateX(-120px);
        -o-transform: translateX(-120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

.fromLeft {
    animation-name: fromLeft;
    animation-duration: 3s;
}

.fromRight {
    animation-name: fromRight;
    animation-duration: 3s;
}

/* end of award Styles */

/* Services Styles */

.card-shadow {
    box-shadow: 5px 8px 20px #444;
}

.heading {
    position: absolute;
    font-size: 1.5rem;
    bottom: 3rem;
    left: 0;
    background-color: #2980b9;
    width: 60%;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s ease-in;
}

.heading:hover {
    opacity: 1;

}

/* End Of Services Styles */

/* Gallery Styles */
.gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.active-item {
    color: #70aed2;
}

/* End Of Gallery Styles */


/* Coach Styles */
.coach {
    background-color: #151f20;
}

/* End Of Coach Styles */

/* Plans Styles */

.card-1,
.card-2,
.card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/membership.jpg);
    background-size: cover;
    box-shadow: 7px 8px 50px #555;
    max-width: 370px;
}

.card-list-item {
    border-bottom: 1px groove #eee;
    width: 55%;
    margin: auto;
}

.membership-card-button {
    background-color: #2980b9;
    width: 130px;
    box-shadow: 5px 8px 18px #000;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.membership-card-button:hover {
    background-color: #3498db;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

@keyframes memLeftCard {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes memRightCard {
    0% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

@keyframes memCenterCard {
    0% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.memLeftCard {
    animation-name: memLeftCard;
    animation-duration: 2s;
}

.memRightCard {
    animation-name: memRightCard;
    animation-duration: 2s;
}

.memCenterCard {
    animation-name: memCenterCard;
    animation-duration: 2s;
}

/* End Of Plans Styles */

/* Contact-Us Styles */
.contact {
    background: linear-gradient(105deg, rgba(21, 31, 32, 0.8) 0%, rgba(21, 31, 32, 0.9) 50%, transparent 50%), url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.input {
    background: transparent;
    border: none;
    border-color: transparent;
    color: #fff;
    border-bottom: 2px solid #ccc;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
}
.input::placeholder {
    font-size: 1.1rem;
    font-weight: bold;
    color: #95a5a6;
}

.input:focus {
    color: #ecf0f1;
    background: transparent;
    border: none;
    border-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #f5593d;
}

.submit-button {
    background-color: #2980b9;
    color: #eee;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.5s;
}

.submit-button:hover {
    background-color: #3498db;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

.label {
    color: #f39c12;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: -70px;
    margin-right: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

}

.input:placeholder-shown + .label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
/* End Of Contact-Us Styles */

/* Footer Styles */
.footer-link {
    text-decoration: none;
    color: #eee;
    font-size: 1rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}
/* End Of Footer Styles */